:root {
    // Fonts
    --primary-font: 'Barlow Condensed';
    --secondary-font: 'Ubuntu';
    // Colors
    --primary-color: rgb(246, 196, 61);
    --secondary-color: rgb(16, 136, 228);
    --text-color: rgb(137, 137, 137);
    --text-color-light: rgba(255, 255, 255, 0.67);
    --title-color-dark: rgb(34, 34, 34);
    --title-color-light: rgb(255, 255, 255);
    --burger-color: rgb(34, 34, 34);
    --burger-bg-color: rgb(255, 255, 255);
    --link-header-hover: rgb(246, 196, 61);

    --sections-bg-color: rgb(245, 245, 245);
    --sections-bg-color-dark: rgb(34, 34, 34);
    --modal-bg: rgb(255, 255, 255);
    --contacts-bg: rgb(255, 255, 255);

    --cards-history-dark-color: rgb(2, 2, 4);
    --cards-history-light-dark-color: rgb(5, 7, 28);
    --cards-history-light-color: rgb(255, 255, 255);
    --cards-history-white-dark-color: rgb(221, 226, 233);
    --card-cars-bg-color: rgb(255, 255, 255);
    --card-request-bg-color: rgb(255, 255, 255);

    --border-input-request-color: rgba(137, 137, 137,0.1);
    --placeholder-color: rgba(137, 137, 137,0.6);

    --btn-light-text-color: rgb(255, 255, 255);
    --btn-dark-bg-color: rgb(16, 136, 228);
    --btn-dark-hover-color: rgb(246, 196, 61);
    --btn-light-bg-color: rgb(246, 196, 61);
    --btn-light-hover-color: rgb(16, 136, 228);
    --btn-light-dark-bg-color: rgb(34, 34, 34);
    --btn-light-dark-text-color: rgb(102, 102, 102);
    
    --icons-header-hover: rgb(255, 187, 2);
    --icons-header-color: rgb(246, 196, 61);
    --icons-header-text-color: rgb(255, 255, 255);
    --icons-light-color: rgb(255, 255, 255);
    --icons-staff-bg-color: rgb(255, 255, 255);
    --icons-staff-text-color: rgb(34, 34, 34);
    --icons-staff-hover: rgb(246, 196, 61);
    --icons-contacts-text-color: rgb(255, 255, 255);
    --icons-contacts-bg: rgb(34, 34, 34);
    --icons-contacts-hover: rgb(246, 196, 61);
    --icons-footer-color: rgb(34, 34, 34);
}

* {
    // font-family: 'Barlow Condensed', sans-serif;
    // font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    width: min(100% - 15px, 1200px);
    margin-inline: auto;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}