.contacts {
    min-height: 570px;
    // padding: 120px 0 120px;
    &_wrapper {
        display: flex;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    &_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 40%;
        @media (max-width: 768px) {
            flex-basis: 100%;
        }
    }
    &_map {
        flex-basis: 60%;
        @media (max-width: 768px) {
            flex-basis: 100%;
        }
    }
    &_block {
        border-radius: 5px;
        box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%);
        width: 430px;
        height: 520px;
        background-color: var(--contacts-bg);
        padding: 40px 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: 992px) {
            width: 100%;
            padding: 30px;
            height: 100%;
        }
    }
    &__title {
        margin-top: 25px;
    }
    &__subtitle {
        font-family: var(--secondary-font);
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: var(--text-color);
        margin-top: 20px;
    }
    &_telephone {
        font-family: var(--secondary-font);
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.44px;
        margin-top: 30px;
        color: var(--primary-color);
    }
    &_mail {
        font-family: var(--secondary-font);
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.44px;
        color: var(--primary-color);
    }
    &_icons {
        display: flex;
        margin-top: 30px;
        a {
            background: var(--icons-contacts-bg);
            &:hover {
                background: var(--icons-contacts-hover);
                transition: 0.4s;
            }
        }
    }
    &_btn {
        background: var(--btn-light-bg-color);
        margin-top: 30px;
        width: 155px;
        &:hover {
            background: var(--btn-light-hover-color);
            transition: 0.4s;
        }
    }
}