.contacts {
    min-height: 570px;
    // padding: 120px 0 120px;
}
.wrapper_contacts {
    display: flex;
}
@media (max-width: 768px) {
    .wrapper_contacts {
        flex-direction: column;
    }
}
.contacts_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
}
@media (max-width: 768px) {
    .contacts_content {
        flex-basis: 100%;
    }
}
.contacts_map {
    flex-basis: 60%;
}
@media (max-width: 768px) {
    .contacts_map {
        flex-basis: 100%;
    }
}
.contacts_block {
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%);
    width: 430px;
    height: 520px;
    background-color: var(--contacts-bg);
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 992px) {
    .contacts_block {
        width: 100%;
        padding: 30px;
        height: 100%;
    }
}
.title__contacts {
    margin-top: 25px;
}
.subtitle__contacts {
    font-family: var(--secondary-font);
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--text-color);
    margin-top: 20px;
}
.telephone_contacts {
    font-family: var(--secondary-font);
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.44px;
    margin-top: 30px;
    color: var(--primary-color);
    text-decoration: none;
}
.mail_contacts {
    font-family: var(--secondary-font);
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.44px;
    color: var(--primary-color);
    text-decoration: none;
}
.contacts_items-icons {
    display: flex;
    margin-top: 30px;
}
.contacts_items-icons a {
    background: var(--icons-contacts-bg);
}
.contacts_items-icons a:hover {
    background: var(--icons-contacts-hover);
    transition: 0.4s;
}
.contacts_btn {
    background: var(--btn-light-bg-color);
    margin-top: 30px;
    width: 155px;
}
.contacts_btn:hover {
    background: var(--btn-light-hover-color);
    transition: 0.4s;
}