.executive {
    min-height: 840px;
    padding: 160px 0 170px;
    background: url('../img/executive/executive_bg.webp') 45% center/cover no-repeat;
    @media (max-width: 576px) {
        display: flex;
        align-items: center;
        padding: 0;
        min-height: 650px;
        background: rgb(243, 243, 243);
    }
    &__wrapper {
        display: flex;
        &_block {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-basis: 44%;
            padding: 80px 0;
            @media (max-width: 992px) {
                flex-basis: 60%;
            }
            @media (max-width: 768px) {
                flex-basis: 80%;
            }
            @media (max-width: 576px) {
                flex-basis: 100%;
                align-items: center;
                padding: 0;
            }
            &_buttons {
                margin-top: 60px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                @media (max-width: 576px) {
                    flex-wrap: unset;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
    &__title {
        margin-top: 30px;
        line-height: 65px;
        text-align: center;
        @media (max-width: 576px) {
            line-height: 55px;
            line-height: 60px;
        }
    }
    &_subtitle {
        font-size: 18px;
        font-family: var(--secondary-font);
        line-height: 30px;
        text-align: center;
        margin-top: 15px;
        letter-spacing: -0.3px;
    }
    &_contacts-btn {
        margin: 10px;
        font-size: 16.5px;
        background: var(--btn-light-bg-color);
        width: 145px;
        &:hover {
            background: var(--btn-light-hover-color);
            transition: 0.4s;
        }
    }
    &_offers-btn {
        margin: 10px;
        border: 1px solid var(--btn-light-dark-bg-color);
        background: unset;
        color: var(--btn-light-dark-text-color);
        font-size: 16.5px;
        font-weight: 700;
        width: 175px;
        &:hover {
            background: var(--btn-light-dark-bg-color);
            color: var(--btn-light-text-color);
            transition: 0.4s;
        }
    }
}