nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
header {
    display: flex;
    padding: 30px 0;
    align-items: center;
}
.header__logo {
    flex: 0;
    // width: 100%;
}
.header__logo-active {
    z-index: 3;
    position: fixed;
}
.header__logo img {
    display: block;
    width: 97px;
}
.nav__menu {
    display: flex;
}
@media (max-width: 993px) {
    .nav__menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        padding: 20px 15px;
        background-color: var(--burger-bg-color);
        transition: .6s all;
        z-index: 2;
    }
    .nav__menu-active {
        display: flex;
        right: 0;
    }
}
.nav__menu-link {
    padding: 10px 15px;
    position: relative;
    color: var(--title-color-dark);
    font-size: 17px;
    font-family: var(--secondary-font);
    font-weight: 600;
    text-decoration: none;
}
@media (max-width: 993px) {
    .nav__menu-link {
        margin: 8px;
        font-size: 21px;
    }
}
.nav__menu-link:hover {
    color: var(--link-header-hover);
    transition: 0.2s;
}
a.nav__menu-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--link-header-hover);
    transition: width 0.5s;
//     border-top: 2px var(--link-header-hover) solid;
}
a.nav__menu-link:hover::before {
    width: 100%;
}
.header__icons a:hover {
    background: var(--icons-header-hover);
    transition: 0.2s;
}
.header__icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
@media (max-width: 993px) {
    .header__icons {
        margin-top: 40px;
        margin-left: 0;
    }
}
.icons a, .header__icons  a {
    margin: 0 5px;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background: var(--icons-header-color);
    border-radius: 50%;
    color: var(--icons-header-text-color);
    text-decoration: none;
}
@media (max-width: 993px) {
    .header__icons a {
        width: 35px;
        height: 35px;
        margin: 0 15px;
    }
}
.header__icons a i {
    font-size: 16px;
    font-style: normal;
}
.burger {
    z-index: 2;
    display: none;
    position: absolute;
    right: 20px;
    top: 43px;
    transform: translateY(-50%);
    width: 30px;
    height: 12px;
}
.burger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--burger-color);
    margin-bottom: 6px;
    transition: .5s all;
}
@media (max-width:993px) {
    .burger {
        display: block;
        z-index: 2;
    }
    .burger_active {
        position: fixed;
    }
    .burger_active span {
        margin-bottom: -2px;
    }
    .burger_active span:nth-child(1) {
        transform: translateY(0px) rotate(-45deg);
    }
    .burger_active span:nth-child(2) {
        display: none;
    }
    .burger_active span:nth-child(3) {
        transform: translateY(0px) rotate(45deg);
    }
}
