.history {
    min-height: 2400px;
    padding: 50px 0 120px;
    background: var(--sections-bg-color);
    @media (max-width: 576px) {
        padding: 40px 0 50px;
    }
    &__title {
        margin-top: 30px;
    }
    &__subtitle {
        margin-top: 15px;
        color: var(--text-color);
        font-size: 20px;
        font-family: var(--secondary-font);
        text-align: center;
        line-height: 30px;
        @media (max-width: 576px) {
            font-size: 18px;
        }
    }
    &-cards_wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        @media (max-width: 576px) {
            margin-top: 50px;
        }
        .history_content {
            display: flex;
            @media (max-width: 992px) {
                flex-direction: column;
            }
            .content-image-black {
                flex-basis: 50%;
                img {
                    display: block;
                    width: 100%;
                    height: 350px;
                    object-fit: cover;
                    object-position: right;
                    @media (max-width: 576px) {
                        object-position: 65%;
                    }
                }
            }
            .content-image-black-light {
                flex-basis: 50%;
                img {
                    display: block;
                    width: 100%;
                    height: 350px;
                    object-fit: cover;
                    object-position: left;
                }
            }
            .content-image-white {
                flex-basis: 50%;
                img {
                    display: block;
                    width: 100%;
                    height: 350px;
                    object-fit: cover;
                    object-position: 78%;
                }
            }

            .content-image-white-dark {
                flex-basis: 50%;
                img {
                    display: block;
                    width: 100%;
                    height: 350px;
                    object-fit: cover;
                }
            }
            .content-items {
                display: flex;
                flex-direction: column;
                flex-basis: 50%;
                padding: 60px 70px;
                @media (max-width: 576px) {
                    padding: 0;
                }
                .items-title-black {
                    color: var(--title-color-light);
                    font-size: 90px;
                    font-weight: 600;
                    letter-spacing: -2px;
                }

                .items-title-white {
                    color: var(--title-color-dark);
                    font-size: 90px;
                    font-weight: 600;
                    letter-spacing: -2px;
                }
                .divider-yellow {
                    width: 40px;
                    height: 3px;
                    background-color: var(--primary-color);
                    margin: 15px 0;
                }

                .divider-blue {
                    width: 40px;
                    height: 3px;
                    background-color: var(--secondary-color);
                    margin: 15px 0;
                }

                .items-descr {
                    color: var(--text-color);
                    font-size: 17px;
                    font-family: var(--secondary-font);
                    line-height: 27px;
                }
            }
        }
        .history_content-reverse {
            @media (max-width: 992px) {
                flex-direction: column-reverse;
            }
        }
    }
    &_card-black {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        min-height: 475px;
        background: var(--cards-history-dark-color);
        border-radius: 7px;
        // padding: 60px 70px;
        // margin: 15px 0;
        @media (max-width: 768px) {
            padding: 45px;
            margin: 15px 20px;
        }
        @media (max-width: 576px) {
            padding: 15px;
            margin: 15px 0;
        }
    }
    &_card-white {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        min-height: 475px;
        background: var(--cards-history-light-color);
        border-radius: 7px;
        // padding: 60px 70px;
        // margin: 15px 0;
        @media (max-width: 768px) {
            padding: 45px;
            margin: 15px 20px;
        }
        @media (max-width: 576px) {
            padding: 15px;
            margin: 15px 0;
        }
    }
    &_card-white-dark {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        min-height: 475px;
        background: var(--cards-history-white-dark-color);
        padding: 60px 70px;
        border-radius: 7px;
        margin: 15px 0;
        @media (max-width: 768px) {
            padding: 45px;
            margin: 15px 20px;
        }
        @media (max-width: 576px) {
            padding: 15px;
            margin: 15px 0;
        }
    }
    &_card-black-light {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        min-height: 475px;
        background: var(--cards-history-light-dark-color);
        padding: 60px 70px;
        border-radius: 7px;
        margin: 15px 0;
        @media (max-width: 768px) {
            padding: 45px;
            margin: 15px 20px;
        }
        @media (max-width: 576px) {
            padding: 15px;
            margin: 15px 0;
        }
    }
}