.manufactures {
    background: var(--sections-bg-color-dark);
    padding: 120px 0 80px;
    min-height: 452px;
    @media (max-width: 576px) {
        padding: 70px 0 40px;
    }
    &_wrapper {
        display: flex;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
    &_content {
        display: flex;
        flex-direction: column;
        flex-basis: 33%;
        padding: 30px;
        margin: 0 15px;
        @media (max-width: 992px) {
            padding: 10px;
        }
        @media (max-width: 767px) {
            flex-basis: 100%;
        }
    }
    &__title {
        color: var(--title-color-light);
        margin-top: 30px;
    }
    &_subtitle {
        color: var(--text-color);
        margin-top: 15px;
        font-size: 20px;
        font-family: var(--secondary-font);
        line-height: 30px;
    }
    &_slider {
        flex-basis: 67%;
        @media (max-width: 767px) {
            flex-basis: 100%;
        }
        &_item {
            align-items: center;
            display: flex;
            max-width: 227px;
            max-height: 191px;
            justify-content: center;
            background: rgba(255, 255, 255, 0.06);
            margin: auto;
            img {
                display: block;
                width: 167px;
                // height: 167px;
                object-fit: contain;
            }
        }
    }
}
@media (max-width: 767px) {
    .swiperBrands {
        width: 100%;
        margin-top: 30px;
    }
}
@media (max-width: 767px) {
    .swiper-wrapper-brands {
        margin-bottom: 40px;
    }
}