.manufactures {
    background: var(--sections-bg-color-dark);
    padding: 120px 0 80px;
    min-height: 452px;
}
.manufactures_wrapper {
    display: flex;
}
.manufactures_content {
    display: flex;
    flex-direction: column;
    flex: 0 1 370px;
    padding: 30px;
    margin: 0 15px;
}
.title__manufactures {
    color: var(--title-color-light);
    margin-top: 30px;
}
.manufactures_subtitle {
    color: var(--text-color);
    margin-top: 15px;
    font-size: 20px;
    font-family: var(--secondary-font);
    line-height: 30px;
}

.manufactures_slider {
    display: flex;
    flex: 0 1 740px;
    margin: 0 15px;
}


