.offer {
    min-height: 1000px;
    padding: 110px 0;
    background: var(--sections-bg-color-dark);
    @media (max-width: 576px) {
        padding: 40px 0;
    }
    &__title {
        color: var(--title-color-light);
        margin-top: 30px;
        @media (max-width: 576px) {
            font-size: 55px;
        }
        @media (max-width: 440px) {
            font-size: 44px;
        }
    }
    &__subtitle {
        margin-top: 15px;
        color: var(--text-color);
        font-size: 20px;
        font-family: var(--secondary-font);
        line-height: 30px;
        text-align: center;
        @media (max-width: 576px) {
            font-size: 18px;
        }
    }
    &_wrapper {
        display: flex;
        margin-top: 60px;
        justify-content: center;
        @media (max-width: 576px) {
            flex-wrap: wrap;
            gap: 40px;
        }
        &_items {
            display: flex;
            flex-direction: column;
            margin: 0 12px;
            flex-basis: 31%;
            @media (max-width: 576px) {
                flex-basis: 70%;
                margin: 0;
            }
            @media (max-width: 500px) {
                flex-basis: 100%;
            }
            &-img {
                height: 400px;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }
            &-title {
                margin-top: 20px;
                font-size: 28px;
                font-family: var(--primary-font);
                font-weight: 600;
                color: var(--title-color-light);
                @media (max-width: 576px) {
                    margin-top: 15px;
                }
            }
            &-descr {
                margin-top: 15px;
                font-size: 17px;
                font-family: var(--secondary-font);
                color: var(--text-color);
                line-height: 27px;
                @media (max-width: 576px) {
                    margin-top: 10px;
                }
            }
        }
    }
}