.offices {
    min-height: 1270px;
    padding: 110px 0 110px;
    background: var(--sections-bg-color-dark);
}
@media (max-width: 576px) {
    .offices {
        padding: 60px 0 60px;
    }
}
.wrapper_offices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}
.title__offices {
    margin-top: 30px;
    text-align: center;
    line-height: 65px;
    color: var(--title-color-light);
}
@media (max-width: 576px) {
    .title__offices {
        font-size: 55px;
    }
}
.subtitle__offices {
    margin-top: 30px;
    font-family: var(--secondary-font);
    color: var(--text-color);
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}
@media (max-width: 576px) {
    .subtitle__offices {
        font-size: 18px;
    }
}
.offices_image {
    max-width: 570px;
    max-height: 390px;
    padding: 15px;
    cursor: pointer;
}
.offices_image img:hover {
    width: 101%;
    transition: 0.3s;
}
@media (max-width: 768px) {
    .offices_image {
        padding: 15px 0;
    }
}
@media (max-width: 576px) {
    .offices_image {
        padding: 6px 0;
    }
}
.offices_image img {
    display: block;
    width: 100%;
    border-radius: 6px;
}

.swiper__close {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 48px;
    line-height: 21px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}
.overlay_swiper_block {
    display: none;
}
.overlay_swiper_active {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .66);
    z-index: 1;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: contain;
}
.swiper-slide {
    padding: 0 20px;
}
