.rates {
    min-height: 1065px;
    padding: 110px 0 120px;
    background: url('../img/rates/rates_bg.webp') center/cover no-repeat;
    @media (max-width: 576px) {
        padding: 40px 0 20px;
    }
    &__title {
        margin-top: 30px;
    }
    &__subtitle {
        font-size: 20px;
        font-family: var(--secondary-font);
        color: var(--text-color);
        text-align: center;
        line-height: 30px;
        margin-top: 15px;
    }
    &_wrapper {
        align-items: center;
        display: flex;
        margin-top: 60px;
        @media (max-width: 767.98px) {
            flex-direction: column;
        }
    }
    &_card {
        box-shadow: 0 0 10px rgb(0 0 0 / 20%);
        display: flex;
        flex-direction: column;
        width: 378px;
        max-height: 533px;
        background: var(--card-cars-bg-color);
        padding: 50px;
        @media (max-width: 992px) {
            align-items: center;
            padding: 9px;
        }
        @media (max-width: 767.98px) {
            margin-bottom: 30px;
            padding: 40px;
        }
        @media (max-width: 431px) {
            width: 100%;
        }
        &-bg {
            background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../img/rates/rates_card_bg_resized_min.webp') center/cover no-repeat;
            width: 414px;
            justify-content: center;
            min-height: 583px;
            @media (max-width: 992px) {
                min-height: 490px;
            }
            @media (max-width: 576px) {
                width: 378px;
            }
            @media (max-width: 431px) {
                width: 100%;
            }
        }
        &_price {
            font-size: 90px;
            font-family: var(--primary-font);
            line-height: 90px;
            font-weight: 600;
            letter-spacing: -1.8px;
            margin-top: 30px;
            @media (max-width: 992px) {
                font-size: 80px;
                line-height: 85px;
            }
            span {
                font-size: 45px;
                font-family: var(--primary-font);
                color: var(--title-color-dark);
                line-height: 45px;
                font-weight: 600;
                letter-spacing: -1.8px;
                margin-top: 30px;
            }
            &-light {
                color: var(--title-color-light);
                span {
                    color: var(--title-color-light);
                }
            }
        }
        &_subtitle {
            font-size: 14px;
            font-family: var(--secondary-font);
            font-weight: 700;
            letter-spacing: 1.4px;
            line-height: 22px;
            margin-top: 5px;
            color: var(--text-color);
            &-light {
                color: var(--title-color-light);
            }
        }
        &_descr {
            margin-top: 30px;
            li {
                display: flex;
                align-items: center;
                font-size: 17px;
                font-family: var(--secondary-font);
                line-height: 27px;
                color: var(--text-color);
                margin-top: 15px;
            }
            &-light {
                li {
                    color: var(--title-color-light);
                }
            }
            img {
                display: block;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                @media (max-width: 992px) {
                    margin-right: 5px;
                }
            }
        }
    }
    &_btn {
        margin-top: 60px;
        width: 155px;
        background: var(--btn-light-bg-color);
        &:hover {
            background: var(--btn-light-hover-color);
            transition: 0.4s;
        }
    }
}

.calculating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    &__field {
        display: flex;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__subtitle {
        font-size: 40px;
        font-family: var(--primary-font);
        font-weight: 600;
        color: var(--title-color-dark);
        text-align: center;
        margin-top: 15px;
    }
    &__choose {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 45px;
        @media (max-width: 767px) {
            flex-direction: unset;
        }
        @media (max-width: 576px) {
            flex-direction: column;
        }
    }
    &__result {
        font-size: 50px;
        font-family: var(--primary-font);
        font-weight: 600;
        margin: auto;
    }
}

.calculating-block1, .calculating-block2, .calculating__total {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
    @media (max-width: 992px) {
        margin: 0 10px;
    }
}

@media (max-width: 576px) {
    .calculating h2 {
        text-align: center;
    }
}
.btn__choose {
    width: 135px;
    height: 40px;
    padding: 11px;
    background: var(--btn-light-bg-color);
    &:hover {
        cursor: pointer;
    }
    &_active {
        background: var(--btn-dark-bg-color);
        box-shadow: 0 0 10px rgb(0 0 0 / 70%);
    }
}