.staff {
    background: linear-gradient(rgba(34,34,34,.6), rgba(34,34,34,.6)), url('../img/staff/staff_bg_resized_min.webp');
    padding: 110px 0 120px;
    min-height: 1150px;
}
@media (max-width: 992px) {
    .staff {
        padding: 110px 0 90px;
    }
}
@media (max-width: 576px) {
    .staff {
        padding: 110px 0 60px;
    }
}
.title__staff {
    color: var(--title-color-light);
    margin-top: 30px;
}
.subtitle__staff {
    text-align: center;
    color: var(--text-color-light);
    font-size: 20px;
    font-family: var(--secondary-font);
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;
}
.staff_wrapper {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}
@media (max-width: 992px) {
    .staff_wrapper {
        flex-direction: column;
        align-items: center;
    }
}
.staff_card {
    display: flex;
    flex-basis: 33%;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}
@media (max-width: 992px) {
    .staff_card {
        margin-bottom: 30px;
    }
}
@media (max-width: 576px) {
    .staff_card {
        flex-basis: 100%;
        padding: 0;
    }
}
.card-image {
    width: 100%;
    height: 493px;
}
@media (max-width: 992px) {
    .card-image {
        width: 400px;
    }
}
@media (max-width: 576px) {
    .card-image {
        width: 100%;
    }
}
.card-image img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
    object-position: 46.546% 7.74%;
}
.card-title {
    color: var(--title-color-light);
    font-size: 28px;
    margin-top: 20px;
}
.divider {
    width: 67px;
    height: 3px;
    background: var(--primary-color);
    margin: 15px 0;
}
.staff_subtitle {
    font-size: 17px;
    font-family: var(--secondary-font);
    line-height: 27px;
    color: var(--text-color);
}
.staff_items-icons {
    display: flex;
    margin-top: 30px;
}
@media (max-width: 576px) {
    .staff_items-icons {
        margin-top: 20px;
    }
}
.staff_items-icons a {
    color: var(--icons-staff-text-color);
    background: var(--icons-staff-bg-color);
}
.staff_items-icons a:hover {
    background: var(--icons-staff-hover);
    transition: 0.4s;
}